html,body{
    height: 100%;
    margin: 0 auto;
    font-size: 14px;
    font-family: "lato", "sans-serif";
    font-weight: 400;

}
.pimg{
    background-image: url(./image/image.png);
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    letter-spacing: 8px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px ;
    text-transform: uppercase;
}
.textbg{
    background-color: aquamarine;
    color: blue;
    padding:8px 15px ;
}
section{
    padding: 50px 80px;
    text-align: center;
    color: blue;
    background-color: aquamarine;
}
.pimg2{
    background-image: url(./image/image2.jpg);
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.one{
    position: absolute;
    letter-spacing: 8px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px ;
    text-transform: uppercase;
}
.textbg1{padding:8px 15px ;
    background-color: chocolate;
    color: green;

}
.Two{padding: 50px 80px;
    text-align: center;
    color: green;
    background-color: chocolate;
}
.pimg3{
    background-image: url(./hifza.jpg);
    min-height: 400%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.textbg2{
    background-color:greenyellow;
    color: yellow;padding:8px 15px ;

}
.four{padding: 50px 80px;
    text-align: center;
    color: yellow;
    background-color: greenyellow;
}
.three{
    position: absolute;
    letter-spacing: 8px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px ;
    text-transform: uppercase;
}
.pimg4{
 background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhIVFRUVFRUVFxIVFhUVFRUVFRUWFhUVFRUYHSggGBolHRUVITEhJSkrLjAuFx81ODMtNygtLisBCgoKDg0OGhAQGy0mHyUtLS0tLS0vLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKgBLAMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAECBQAGB//EAEEQAAEDAgMEBwYEBQIGAwAAAAEAAhEDIQQSMQVBUWETInGBkaGxBhQyQlLBYtHh8BUjcoLxktIzNENTssJjg6P/xAAaAQADAQEBAQAAAAAAAAAAAAABAgMABAUG/8QALREAAgECBgEDAwMFAAAAAAAAAAECAxEEEhMxQVEhBRShQmGRIlLxIzJxseH/2gAMAwEAAhEDEQA/APj8KQFYBTlXfYmVhdCsAphEJWFICtCkBaxioCsArAKwamRrFQ1Wa1WDVcNTi2BZFOVGyrsiNjAcqkNRQ1TkWDa4INVoRQxSGp0I0CyLsqPlXBiIMovkU5UwWLhTWsGwvkUFqayKuRZoCQtkUZEwWLixLYawtlUZEzkUFi1gWQsWrsqNlXFi1hbAcq4NRgxWDEbAYDKuyo+VQWrWBYBlXZEbKohCwrBZV2VEyrimEaBEKkIrlSEA2BwpAVsqmFypnXYrCnKrBWaFRAKZVIajBquKaw1gIarBqL0akMWGsUDUQNVg1WDUbhylQ1cQigLi1NmNkAhqtlRMqsGJbjKILKiBqvlV2MTRkaUAeVSGIrWogYE6YjhYWLF2RM5FGRbMHIAyqhYmsi7Is3cChYVyKuRMlijItcDiLFiqWJk01UsTCuIvlXFiPlUZVhWgORWDEUNUkIpCMAWKpajkKpC1hQBCoQjOCrCUFgZCGQjOCqWoMOUEQqlEcqEJbmyl+jUdGtFuGU+6riVRHqPDszcikNTxw6qaCopIjKk0LtRmBW6JXDE9xVEjKuLERoV8qDZWKF8isAjFnBcKfFJmKZAcKQETKpyo5jZAWVTlRcqsKaOYKgDDUQNUhiK2mtmDkKdGpDEcNVsqbMbTABikMRxSlcGI5zaTAFirkTWRVLE2cTTFyxVNNNZVBYjmBkFCxVyJtzFQ000WTlAVIVcqZcxDLVREWrAoXFqJCrCck0DyqC1FAXQgzWFy1VyJkBQWpGawoWKhamy1Cc1Kw2FXNVCEdyCUoLHqKWzXWsUw3A8QT3LfpFkC+4K8tXityPqI5EeeOEH0lLVcI3cCvVy08Fz6TeCKlJDOEJHi6mE5FC93he0dhQdG+QS9bZRO7yV41+zmng4vyjyYpqwYtmvs4jcUm7CwuhSTOSVFwYoKa51NM9GRuUhiRlIK4lkVg1OdCo6E8EucroMX6NcGJltJFFAragyoMTDUZlJMsw6OzCntQ1UVWGYoymiNpFPU8MmGYQoayGWFZmNoqTS5LXp4XkpdhENUf25imiu93K2BhFf3UIqsB4ZcmEaKqaa3nYJCOCTqsSlhVwYvRKDSW0MFyVTgSqxrI554VowH00J1JegfgeSXqYPkrRrI5ZYWRhOYqFq1qmGStSgqqaZzyotCRUJh1FDcxG5NwsCXErnBDK1xbEucgVHK7kF4SsAKoUEorghkJbAPrOFwdBzR/McLDVvLkn6Ox6R/6w7wR9liYNxgdg9Fp0HlSeBoPl/kEPVsSt0vx/006Xs9TPzsP9ybp+zg+Ut/1BIUanNOU3KL9Opv6mdEfV637UNN9n37o7oUO9nqiljk1SruGjj4lTfp0VtIsvV6nMTNf7NcQksR7KAr1DMW/wCo991f3p3EeASezmtpFF6o3ujwVf2UduSFX2deNy+k1MXHxR4AJKvjWHTKe4j0RdGquS0MdTe8T58NlkahEGAC9jVDD8iz64YNx8P1UZ0qi3O+niqUjzp2eOCqcHyW9mbwXZWlc7lJHXBxZhNwvJM08KtYYccUQUBySOoyvgzGYVFFBP8AQc1YYfmEmqw3iIdApFFaIwhVhhDwQ1WBzgZZojiq5AtoYE8PJXGA5J41GTlUgYkBUhvArddgTwQH4R30qiqC3i9jJJHAobnjgVruwp+lLVMMfoVFUQmW5mOqt4FAqVmc07WoP3M8kjWpVf8At+RVYyTNlt/ArVdTO9LupNO9HfRqHWl5FBqYV0aR3QrKX3CqcWrtfAF2GCVq4VEdQfNiRG6UF7agkR910wcuzgrqmvpBOwiC7DK7nP4IT6rldZjzZypcIE+igPYER1Y8CgurHgmOVyjwBqBARajidyAQVvBGUj6HhKlh2BaVCqvPYfHMgdXdxKZZjhuaPErgVeRZ4VHpaVVOUqvNeXp47sTFPHo+4YPanqqdbmmWVua8rT2gUdm0T+yt7gb2zPUtrIzKy8xT2imGbRW10MqDPRuFN9nKj9mt+R4HgVjM2gEZu0BxCRzT2ZaMJLgaOyav1A+KXr7GfwlXZjxxCOzaB+rzSNv9xWN19JlnZT94VP4e4fKtv+IHiD3BSMeODVGV+zqhVa4MdmFP0ozcPyWn72PpC41m8FzzR0Rqy6EmYYJingwrGoESlUXDUmojynOwSjgU2zABEwhlaLGoU5qexwVa8kzPGBCo/CrVcEriCnlUybko1ZNmY/DoLsOOaNWqpSpio3KlOrFnbBTZV+EJ+byQnYR+4s75H2Qa+Nfu+35pQ4ypvdbkuqLp8juNfhjL8PX3Bnc4fdqC6jX3g9zqZ9Qqe9kfmZKs/FEj4x4Kn9LoTNiE7ePwCfQq8X//AJILsHV35vCkiMxZmCT22H2RPfAPnHjP2RWmF1cQuF8iFTZ1Q7j4U0pV2VU4eORbXvrfq8kKpiWnWD3J1NLYm61V7r/Z5yts/jl9fQJCpgG8vP8AJeoeaXD1H3S1UUBrA7T+qrGu0Smoy3R5aps8cAl34ADcvUv6A6Qe/wDVK1m0uXn+ap7hkXRps8tVwoG5KnDjgvQ1ui+tv770i91OfjCdVmyUqEezBp4p3FMMxjuKxATHx+n5KRiCPnJ7B5aLZUc2oz0LMceKOzHu4rzIxZ1l5HY26Oys7e5w7YH2RUYh1memZj3cUZm0CvM06x31CByvpruRumIvncO0H/bZHTiMsQz07dolFbtIryVPEuP/AFHR2EyeGiuzEvPzu9PMhB0ojrEs9g3aZRW7VcvGOxTmmHVSOW//ACpGNO+tEcXHfFtOfFK6MSixR7du1SjM2uf3C8G3GvgnpLcQXT2mAUWlizImuYMDVwjnOnokdCJRYv7HvWbXPNGZtbtXgjiHA3riBF+kJ15WIKrT2hc/zqjo0ymNdJndzSPDIosauj6MzavamWbSHNfNKm0I1rVB/wDY037AZVm7SduquuTc1RbUXA07CZUZYNPkrHHR6PqDMcDxTFPFBfK27RqACKz3821J9Hi3Oy0G16wEufWEiRlc4z3moBwP7vy1PTc3JRY6L4PqmF2hC2MLtZm/0XxQ49wH/MVgTpmeQJ7TUHknqW0q5IbNUfiNQBs8J6Qkd65F6bUpSzQkTnKlU3TPsOI2rT3FZeJ2iCvmO0NquZY1Kzd3Wc47tZDgOPgk62073r1hb5nuZe5IAc+dN6Z+m1arzTl8Cx0aZ9Jq4scUnWxK+aVNoVLk1XETaKpBNhaC4318l3T1HWa6rreXVN2ozaadq6oemOP1FFj4LaJ72tWSdSp+7rxpFQ6PedZl1WBwvYFDDKrogVIO8PeRaN8FdUcHbkD9QXR619b93QH1zxPmvJ1w5pALntJ+ov37rxG9Dewj4nui/WAcBPe7dxVlh7Enjr8HqziTxKqcY7mvGODpBzvy6G7gBuuY+6pBE5i4HWM8WmJueSbSRP3f2PaHHuQnYx3PxK8n7u7fmG6S7fE6goFTDPv8VvxO04yRC2nEV4l9Hqalcn5R4ITnjgvJ1KTgbh3aC6PTVDdR+kzyh9p7k/hE3XfR6t5HDzS9QrzT8O6CSD56fZUGGcdOd4du5rXEdW/Bvvcgly8+5gG/1I8bqopE6ehRzCan2CUKbtYMRNoKNTB4X11AHddRTou3tkE3s2fEukJipgrwIB7Hd/Wy2HeiiAOsGxDszDqLzHPqgq5wmlrwfigzzEwoGCIjrAA8Kh3cIQ+gfms8HmHOmxGtj+5TAGfdwBcTwMN/9QQf1V/dGE3qZN8S0CN9zH3XDGOBh7xzzPN+zqATrzurMq4dwguvyM+ALZR8GLHZrtW9M8dvVPYTY+CtWaGtvWi4GUtaSHbwBlEkKlB1H5TU7cxsRMAsD2xu/co2H6K4NWqbwOqHgi+oMhnisFHYcF0XJBF+o1s8py3/AERBWdlloquNhGQCJ4GO3XVO+408oAIE3BNJovb5mC5vxTNHCv8AkMgcW5CeBAgQ3fqsOkZWFrl5DW0apdvBcQwHcC4SRZM0sNDrhjDPWLKx36mOjM+aLWwVcnMBJGrc+WLXdIDQQe0qBha9wJboGtY4ZZJu5+g4W3oBOqUmluZgab3aGNiD+JrJdpw7rJzB4TM0BrQNw6jpnf1cgPOZ8IWc/DVmzNO7L5nUaQBcOGUEn7XiFerg8VVaABTYCPlBcQJ/HYdllgo0uhbThzg0EkAiwloO/MYnfaexEw1H4iKZcZJDnAERPHLl5gk9ySwWy8SCP5+ggsIpWGhtmECfxAqdq4fGssyplBPWA6Nkc4kykK7K9jSGEBb1msbI+Lo6To3uAIIgydyUbjKLTlOZovfowW8rMEkkz4dyxquAxhH8ypVeL3a8uAMWs188N2/ctLY1Ou23SltT4sr3PGYf3EkcIMdiVoMZNvYep7VoMaZqQ0TpTqMc4GNWuaQd1xCe2VjsOTmL25tQ1z2xc2EOaJvqY/TMo0sXJFXogHEkh1V7M3CA6Gk7k3hNnVwc2eoBJsKzXDgIOkKM0rb/ACWi5dfBq1OjnOGMDiRmLKjXHLB+GzYm2ukyswY1ue2GqkkEF00HHQEfA+d06hU/glRx61at2AMxHi45jHbC0MFsCWwabnm5D34amzkGwA0kR6LRcUtwtSb2Id0UNcKrWEkCHut+IAdLBO64t6gp7NaIqUejeCbl9Xo3AixFgSTJHFNn2OcTmJY4WOU0n5jxknTfYIWK9lwYyF7fwinSdbhDjbtJVFOPYjhLoyHDO+HNAZBaS+vSJa78LSCSD2pXaOEGaG4mlAgARSvwGYOsN0clu1vZWkBJpvkcRSpg8fhnt1Q3+zFIGwqTHwg9WeAkR5KikuyThLlCVHDVAB0bmVDcFuSROsDK8iPJIvo4iSTQoNO9z3wJ3ENOm6L7lpVfZ1jXCWPJJiSxhg8SZiN8ovuLKbodUrCxiS4ARrAJuLnRt01wZWY1PCYuDahrJDS2/wDVqLc0avga8dcOEz1mOpOt/fA8wtQ4bDPiW5ydC5lMknWIcAdOSHUpYdsh9FsAWGWOYDQ089UrCo2PNNpmcvSZeWaiwd4a/X9FGLwoPWFRpcDYuq0oHG0kyeS9F7xQy2BpgfKQ2Df8Qd6patVwxnq07Tq5jb8eYQszWXZgU8PUm72Ok6Uy08b2uVatgwxt3FpNy1wnXhDSQn6mIw0wwUDGt6P3i6v7ww6NYCNAwsLu9rR91rMWyMGjUpgmXsFgJsfVkhXFWjH/ABWHfxM8BvA8U/iK5OjHcJLqQMjW0JWpiCTEODRqczP9iFmDwIVXxdgbGs5XgnxhLucDfKDzlx88y26uJYBIDjwOdpnvST8aZ6ucD+tv5LWYHYSp48kgZyOTRm8dU970JAD76wQZPKZgdiCcE2IB7oJ7oGqYpYUDR4/0zb+kJ1clYNRxTXG4fI3iWjzgI9OsBfNrxawkbt6SqYXPbPJnh6A6KKezKgPxZp3xPqfRN5MOVTS31eUE048A1d0NOAGl7dDLTAIPY3TvK6hgXNMz2ktAFuQRamHBdLgHDgWNjt6ok+KIbDuF2VRJkOcTrm6XQxxafsrVNiB5kTINnBz3Hfz0796TpMYCcrA2N/Rk7u/knfeHwOtDTYz1I03GLoXHUUXHs7WPWFUZtZyQ7Xe8G6szZdZrgXVd8AOL+eji4Dy8UHCvFQiK3G85u+wAB3ao38MY6XGKhJibz4l58eSUfKuC78LXaerWDjr8YqEXgfG6Yvu8k2aFRwb0jnuIIJaMgaT2Pa4jsJhBo4QNludgbwILjujQx6pj3Snb+Y6PqA3ncIiELjqJQbTbRMvqhtvhcylI3R1QPGfFO0ttsLOo3pAdRTbmF9dDlntU0tlUItTzni4DncyFFSqGjIahpt06rg0eTfRDwx0pIaG0G2cMM8SIAc7K2P6JhNYgVHgZaOH06rXi87tTAXma9bChwNSs6qbfE8OaAecIVH2nZZlOmad7Q802iTEuyxvi62jJ7IGtBeGzdrsxjBmbRoOvcjKNPhi9+8hUp1sYXSQ2mAZgCnAgyQ4h0kW5G+t0lgcXSqT0lWvaGuECpEjUFziY5kHzTVbEYNpDnPc6GyCWCTG4uaAHH9youDXhx+CyldXzfKNentKvJzuocer1nCbH5nAcdOKihj2z1q4n4S0voRl3OAc0X8Fm4TbeGeJZUdTFoHXDRYb4iJ3EeCAz2pwjDL6lZ5DrtblNpuQ4GJHdouadF7KL/BXVildyX5PWVMTTeyG12Otc58wb2tFWAe5ZVbAPJ/5kuN4AA4ciCO9yycVt/ZpqAs6YnXM4gOBsIAB15WWdtX2kw5vRNSpA6zi1zu4kmNPPxRoUJraLX+UJKrTt/cvyeobhKjR134kxqWDj2OefNAqUybjE1mg6Z2O3xbrAT5rxFP2iMzFz8pcaZP8AcBEcp3FL/wAeql4aM7AXNg53ua3eb8PHeu1YaXJzvFU+Ge0rdMLtr1ncC4MYBGpsyYQGtc6Q7ESDu6T1GYLxuJ2tUc7rYhx1BLXFp4Ddewm5/JLu2zVBGYucBIu4EniSbmOSuqEo7kHioNnsK2GqjSvlvIbILh4kj0S1faGIpxdjtLnKJ3XAsvH4jGOcJYzK075EzOvwnfuHBR7/AAPigk7gOWp4ptPsm664PRYnbj3/ABtaI0yECOcG9+ULJrY17zmbUcDcWOsDeC4ie1Z1TERcOPKDHedBO/yVBjD/ANwnfBDjJjiXLZIiOrJml7y6BLw7jnY0js/xKSr1L6UwNZytHfB3c0D3oa2kzpPAjfZDdiJ0APGAP1+yzUbC52wjK97Npxus2O6HSuqvO/Jput/4uQRUd9EcgCPRcHOmzHdpElL47N5LOzCD1Y7TftklQK4O5nmD5FUdf5TzkHzsJU9E8GAL62F0GFXKlx3BrewT5lR197j5X8kVuHqEiWnviwVnYCpwHj+iT9A1phKdQu+Z8RuH53R6bbgEVDwOk9qSOJdM6odWubBUypciZn0b9PFtaIMWtG8fpzUOx39N9JOblB0hedDzzU9KVv0hzSNo48g6T2gQTyDT5q1Xaj5EPbHNpB7IFlhGqpBNrG+iyy8GzTN9u1Xx/wASCdRlEDdZv6ppu1TAJcS7Q/B3kSOzwXmoJBsRGpRKTXEcOaooxfiwupJebm3itp1A6xgaEOMRG7K2J8EJntE9pjMecQ3TTcsw4aIvM7pgDRCaxk+NpWdNmVZ9mpX268vIzvLTucdL6aeZQ/41Ua6xPe5x47gY8lnG3zT5aoD60FJK0V5CpSfJvDa9R4jMW9pc4k6/MZ80CriHOjO46R8WpnnfuWScQeJ5j7KBiXbiY4HRFVYIVxm+TXfUAIN+MOM3nf5IrsYALDWxNtIM90hYz2udBv39vJXaCBBNxz4gQqqs7+ES012bJ2uQAC4kjQyZE6gzqP1Srse0kmQSTF7x2A6JM0Z62+3YgdCZ/wABCVScdkNZS3ZpYTacPnKHRq1wkGbGdyPXru+FjSLzA00sdO66z6NB40bffp5ymRhq508NPFGM/H6g5JfSGfjMwDakOi4JPWHIEbkB20nD4SRE2E960MLsAvINUamSW9ay1DsGkxwIFt8yb/ZJLE28IrHCSl5Z5o4lz7CSSdPingIVnYeq+4pHq7xbugwvZYfCYdpECCNzj36jx8O98VaWWxEAmSeqZIBuRb/IUpYlvYvDArlnzcYSq64ZpzWhhvZ+qYlzGzxInycvTdVusNndvPfPqh1NrU2Q3pGA6kEt7RqldSXAyw8FuYJ9nqk3qNDTv6vhdyO/2dYCM1QxeSXD8+1PHblKbPJ39VhieMtF0M47OepSqO5mGC++8fdDPLk2lTWwqdjUBEv7Tm/f7Cj+GUAZBBGtjPiCnjh6rvmFMccxf4A2nndVdsonWs53gP8AxQcjZF0KjBUQbQD2NG5VqZWzdh/0I7dlx+L+tz3fdQcK0W93p91kM4cpmjFH5GB0W6p05kxG9d/MOpY3lBcfFPOyC2So3+l7gPVQXDc+oO0z6pXNgy9ibcOPmquPIHL9gnMPSpNFgDzLgT4kobs25472A/ZCeHf/ABO7gD5JW3yMkkOuYz6fRULGcD4JJ2YasH9rnD7oZrng7xH5JbhZlZLaobqcb1K5dkkrXOJN3Knk5TbipXKOfYfKTTyzfXgjCsY1UrlWFR+UhJRRzsQPqMRpNu9CqYzdPguXKcsRIZUolRWcbQe5VNF0zF1y5HzLdhSS2Ce5uOunl+qPTwFv0XLkygrmD0tnt4xz1Va2FYLdI0d4/NcuVGko3sJu7Cxos3VB4qHtaNHT3E+S5cuZVfNkimT7hKThqQ4jQWj1geqeFUkwGiQQetkEdwH3XLkzqyHjTQ9SpPJsWt7AZ9fstCnsqsdK5gjg0EeR9FC5SnVmuTrp0YPdDlHYWaxxFUzwcBe/0geC0WezVGAS6q6LSarzbskLly5ZVZ33OqNKCWxR2wsN9JP9zx9/sln7Gww0aSeMu9SVy5Vi32JKMekKnYuGBnoxbc4AklT7hSGjWjsAHouXKiJNLoq6iB8JjjoR++9Ce3k08/hMd3aoXIpCMrpvcOxxXZ3ah5PbBXLlhSprO5FV94O8fdcuWAK1a5/c/ohHEHhPn+XquXICsg4sb2nu/Z9VIxbD+wfRcuQbMgTqjOIHkfOEM5eJ8z91y5BBP//Z) ;
 min-height: 100%;
 position: relative;
 background-position: center;
 background-size: cover;
 background-repeat: repeat;
background-attachment: fixed;
}

.five{
    position: absolute;
    letter-spacing: 8px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px ;
    text-transform: uppercase;
}
.textbg3{
    background-color: blueviolet;
    color: palevioletred;
    padding:8px 15px ;
}
